<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<%= button_to "Create Pokemon", pokemon_new_path, :class => "button medium", :method => :patch %>

<h5> Pokemon: </h5> <br>
<% @trainer.Pokemon.each do |t| %>
  Name: <%= t.name %>, 
  Level: <%= t.level %>,   
  Health: <%= t.health %>
  <%= button_to "Damage!", damage_path(id: t.id), :class => "button medium", :method => :patch %>
  <br>
<% end %>